<ion-button *ngIf="typeButton.default" expand="block" class="max-width" (click)="onClick_($event)" [color]="color" mode="md" [size]='size' [disabled]="disabled" clear appEventListener [appEventListenerProperty]="data">
    <span *ngIf="!!ionIcon">
        <ion-icon [name]="ionIcon" class="ion-icon-button"></ion-icon>
    </span>
    {{label}}
</ion-button>

<ion-button *ngIf="typeButton.troubleshooting" expand="block" class="max-width troubleshooting-button" (click)="onClick_($event)" [color]="color" mode="md" [size]='size' [disabled]="disabled" clear appEventListener [appEventListenerProperty]="data">{{label}}</ion-button>

<ion-button *ngIf="typeButton.alpha" expand="block" class="max-width ion-text-capitalize troubleshooting-button"  mode="md" (click)="onClick_($event)"
  [color]="color" [size]='size' [disabled]="disabled" clear appEventListener [appEventListenerProperty]="data">
  <div class="alpha-button">
    <span class="gray-letter small-font-size">{{letter}}.</span> {{label}}
  </div>
</ion-button>

<ion-button *ngIf="typeButton.outline" fill='outline' expand="block" class="max-width outline-button black-text-color" (click)="onClick_($event)" mode="md" [size]='size' [color]="color ? color : ''" [disabled]="disabled" clear appEventListener [appEventListenerProperty]="data">
  <ng-content></ng-content>
</ion-button>


<ion-button *ngIf="typeButton.icon" class="max-width icon-button ion-no-padding" [disabled]="disabled" mode="md" fill='clear'
  (click)="onClick_($event)" expand="block" [color]="color" appEventListener [appEventListenerProperty]="data">
  <div class="button-with-icon">
    <img [src]='icon' height="35" width="35" class='icon'>
    <p>{{label | uppercase}}</p>
  </div>
</ion-button>

<ion-button *ngIf="typeButton.loading" expand="block" class="max-width" (click)="onClick_($event)" [color]="color" mode="md" [size]='size' [disabled]="disabled" clear appEventListener [appEventListenerProperty]="data">
  <tecvirt-loading color="white" small="true"></tecvirt-loading>
</ion-button>
