.card-deck-safe-margin-bottom{
    margin-top: 4rem;
}

.fitcontent{
    ion-row {
        max-width: 760px;
        width: 100%;
    }
    ion-grid{
        display: flex;
        justify-content: center;
        min-height: 4rem;
    }
    ion-col{
        max-width: 400px;
    }
}
@media (min-width: 600px) {
    ion-grid{
        justify-content: flex-start !important;
    }
}
