<ion-header>
  <ion-toolbar color="white">
    <div header-ts>
      <div class="side-content">
        <ion-buttons (click)="goBackEvt($event)" *ngIf="!slidesMenu && !hiddenBack" appEventListener [appEventListenerProperty]="{gaAction: 'voltar'}">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-fab-button class="slides-menu" color="dark" *ngIf="slidesMenu" (click)="menuSlidesClick($event)">
            <ion-icon name="menu" color="white"></ion-icon>
        </ion-fab-button>
      </div>
      <div title>
        <ion-label class="header--title" id="header-label">{{title | uppercase}}</ion-label>
      </div>
      <div class='side-content end-content'>
        <span class="connection-badge conection-on" *ngIf="(connection$ | async)?.connected"
          mode="ios">{{(connection$ | async )?.connectionType | uppercase}}</span>
        <span class="connection-badge conection-off" *ngIf="!(connection$ | async)?.connected"
          mode="ios">OFFLINE</span>
        <ion-buttons (click)="goHomeEvt($event)" appEventListener [appEventListenerProperty]="{gaAction: 'fechar'}">
          <ion-icon name="close"></ion-icon>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
