div[header-ts] {
  padding: 0 10px;
  display: flex;
  align-items: center;

  .side-content {
    display: flex;
    align-items: center;
    height: 10px;
    width: 25%;
  }

  .end-content {
    justify-content: flex-end;
  }

  div[title] {
    width: 50%;
    text-align: center;
  }

  ion-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .connection-badge {
    background: transparent;
    border: 1px solid;
    border-radius: 2px;
    font-size: 0.6rem;
    padding: 1px;
    min-width: 2rem;
    text-align: center;
    color: var(--ion-color-white);
  }

  .conection-on {
    background-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
  }

  .conection-off {
    background-color: var(--ion-color-medium);
    border-color: var(--ion-color-medium);
  }

  .slides-menu {
    position: fixed !important;
    height: 40px !important;
    width: 40px !important;
  }

  .header--title {
    font-size: 0.8em;
    word-break: break-word;
    white-space: normal;
    text-align: center;
  }
}

@media(min-width:600px) {
  .header--title {
    font-size: 1rem !important;

  }

  .connection-badge {
    margin-right: 20px;
  }
}
