<ion-content terms-content>
    <div [class.safe-margin]="iosMargin">
        <ion-row>
            <ion-col size="12" *ngIf="showPrivacyTerms">
                <div class="terms-of-use-top">
                <h2 class="terms-content--h2" id="privacy-title" [innerHTML]="privacyTerms.title"></h2>
                <ion-icon class="terms-content--icon-close" name="md-close" (click)="dismiss()"></ion-icon>
                </div>
                <hr class="term-content--hr">
                <p class="terms-content--p" [innerHTML]="privacyTerms.paragraph"></p>
            </ion-col>
            <ion-col size="12" class="terms-of-use-top">
                <h2 class="terms-content--h2" id="term-title" [innerHTML]="terms.title"></h2>
                <ion-icon *ngIf="!showPrivacyTerms" class="terms-content--icon-close" name="md-close" (click)="dismiss()"></ion-icon>
            </ion-col>
            <hr class="term-content--hr">
            <ion-col size="12" *ngFor="let subcontent of terms.subcontent; let i = index">
                <h5 id="h5-{{ i + 1 }}" class="sub-content" [innerHTML]="subcontent.subtitle"></h5>
                <p class="terms-content--p" id="p{{ i + 1 }}" [innerHTML]="subcontent.subtext"></p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
