<div selector-container>
  <ion-grid fixed>
    <ion-row class="images-container">
      <ion-col [size]="getColumnSize()" *ngFor="let option of optionsArray">
        <div class="images-conatiner__image-container">
          <img src="{{option.imgPath}}" alt="{{option.gaName}}" class="images-conatiner__image" (click)="imageSelection(option)" [class.image-deselect]="shoudBeDeselected(option)">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="button-container">
    <tecvirt-button size='large' outline="true" [disabled]="!optionActive" (clickEvent)='clickEvent($event)' [data]="{gaAction: 'seguir'}">Avançar</tecvirt-button>
  </div>
</div>
