<div class="conclusion-steps-container" [ngSwitch]="productIdentifier" *ngIf="page">
    <!-- BANDA LARGA CASE -->
    <div *ngSwitchCase="bl">
        <div class="rounded-icon">
            <ion-icon color="info" name="checkmark"></ion-icon>
        </div>
        <h1>
            {{page?.title}}
        </h1>
        <p>
            {{page?.paragraph}}
        </p>
        <div class="inline-btn-list">
            <tecvirt-button [data]="btn" class="inline-button" *ngFor="let btn of (page.buttons || [])" [label]="btn.txt" (clickEvent)="onClick(btn)" color="white" size="large"></tecvirt-button>
        </div>
    </div>
    <!-- DEFAULT CONCLUSION CASE -->
    <div *ngSwitchDefault>
        <h1>
            {{page?.title}}
        </h1>
        <p>
            {{page?.paragraph}}
        </p>
        <div class="conclusion-steps-btn-list">
            <tecvirt-button [data]="btn" *ngFor="let btn of (page.buttons || [])" [label]="btn.txt" (clickEvent)="onClick(btn)" color="white" size="large"></tecvirt-button>
        </div>
    </div>
</div>
