.info-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  color: var(--ion-color-medium);
  ion-icon {
    font-size: 24px;
  }
  p {
    padding-top: 3px;
    padding-left: 5px;
  }
}

.baloon {
  background: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 20px;
  position: relative;
  color: var(--ion-color-medium);
  box-shadow: 0 0 10px gray;
  }
  .baloon:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-width: 10px;
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -40px, 0);
  }
