.conclusion {
    padding: 30px;
    background-color: var(--ion-color-light);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conclusion--header {
    z-index: 1;
    height: 15vh;
    ion-icon {
        margin-right: 5px;
    }
    h1 {
        font-size: 1.2em;
        font-weight: normal;
    }
    hr {
        width: 100%;
        background: #9B9B9B;
    }
}
.conclusion--content {
    z-index: 1;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 300;
        margin: 0;
    }
    p {
        color: #606060;
        text-align: center;
        font-size: 1.1rem;
        margin: 1.5rem;
    }
    .conclusion--content__button-container {
        margin-top: 40px;
        display: contents;
        text-align: center;
    }
}
@media (min-width: 600px) {
    .conclusion {
        padding: 0 20vw 5vh 20vw;
    }
}
