<div class="conclusion">
  <div class="conclusion--header">
    <h1>
      <ion-icon src="./../../../assets/icon/icone_conclusao.svg"></ion-icon>
      Nossa conclusão:
    </h1>
    <hr>
  </div>
  <div class="conclusion--content">
    <h1 core-ts-title [innerHTML]="content.title"></h1>
    <p core-ts-paragraph [innerHTML]="content.paragraph"></p>
    <div class="conclusion--content__button-container">
      <tecvirt-button outline='true' (clickEvent)="onClick(btn)" color="dark" id="button-{{i}}" expand="block" fill="outline" size='large' [data]="btn"
      *ngFor="let btn of (content.buttons || []), index as i">
        {{btn.text}}
      </tecvirt-button>
    </div>
  </div>
</div>
