.accordion-wrapper {
    position: relative;
}
.accordion-list {
  border: solid 1px lightgray;
  border-radius: 6px;
  padding: 5px;
  background: white;
  margin-bottom: 10px;
}

.accordion-dropdown-button {
  width: 100%;
  display: flex;
  outline: none;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  ion-icon {
    align-self: center;
    color: var(--ion-color-info);
    font-size: 16px;
  }
}
.accordion-dropdown-button-left-content {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  .accordion-dropdown-button-left-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }
}
.accordion-dropdown-button-subtext {
  color: #767676;
}
.accordion-dropdown-button-text {
  font-weight: normal;
  align-self: center;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  padding: 4px 0;

  span {
    font-weight: normal !important;
    display: block;
    padding-top: 10px;
    text-align: inherit;
    font-size: 0.8em;
    color: gray;
  }
}

.accordion-icone {
  $squareIcon: 40px;
  width: 15px;
  min-height: $squareIcon;
  max-height: $squareIcon;
  background-size: $squareIcon;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  min-width: $squareIcon;
  max-width: $squareIcon;
}

.accordion-paragraph-list {
  animation: fadeInAccordion 0.5s ease-in-out;
  padding: 0 10px 5px 10px;
  line-height: 0.7em;
}
.accordion-divider {
  margin-top: 0;
  padding-top: 0;
  background-color: #D8D8D8;
}
.accordion-paragraph {
  font-size: 0.8em;
  ::ng-deep span {
      color: var(--ion-color-info) !important;
      font-weight: bold;
  }
}
.icone-ligacao_internacional {
  background-image: url("./../../../../../assets/images/troubleshooting/general/call-guide/ligacao_internacional.svg")
}
.icone-ligacao_interurbana {
  background-image: url("./../../../../../assets/images/troubleshooting/general/call-guide/ligacao_interurbana.svg ")
}
.icone-ligacao_interurbana_a_cobrar {
  background-image: url("./../../../../../assets/images/troubleshooting/general/call-guide/ligacao_interurbana_a_cobrar.svg")
}
.icone-ligacao_local {
  background-image: url("./../../../../../assets/images/troubleshooting/general/call-guide/ligacao_local.svg")
}
.icone-ligacao_local_a_cobrar {
  background-image: url("./../../../../../assets/images/troubleshooting/general/call-guide/ligacao_local_a_cobrar.svg")
}

/* template call_guide end */
