<div class="rate-modal">
    <div class="app-rate-container">
      <h2 id="app-rate-title" class="title">{{appRateConfig.PLUGIN_PREFERENCES.customLocale.title}}</h2>
      <div id="app-rate-text" class="message">{{appRateConfig.PLUGIN_PREFERENCES.customLocale.message}}</div>
      <div class="box-right">
        <div>
          <button id="app-rate-now-button" (click)="handleButtonClicked(appRateConfig.USER_ACTIONS.RATE_NOW)">{{appRateConfig.PLUGIN_PREFERENCES.customLocale.rateButtonLabel}}</button>
        </div>
        <div>
          <button id="app-rate-not-now-button" (click)="handleButtonClicked(appRateConfig.USER_ACTIONS.NOT_NOW)">{{appRateConfig.PLUGIN_PREFERENCES.customLocale.laterButtonLabel}}</button>
        </div>
        <div>
          <button id="app-rate-no-button" (click)="handleButtonClicked(appRateConfig.USER_ACTIONS.NO_THANKS)">{{appRateConfig.PLUGIN_PREFERENCES.customLocale.cancelButtonLabel}}</button>
        </div>
      </div>
    </div>
</div>
