.tecvirt-navigation-slides-buttons {
    $square: 70px;
    $defaultGray: #BABABA;
    z-index: 900;
    width: 106%;
    height: 70px;
    position: absolute;
    top: 32%;
    left: -3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
        background: $defaultGray;
        height: 1px !important;
        padding: 0;
        width: 110%;
    }

    .hr-divider {
        background: transparent !important;
    }

    .tecvirt-navigation-slides-buttons__container {
        width: $square/2;
        height: $square;
        position: relative;
        overflow: hidden;
        background: transparent;
        button {
            background: black;
            width: $square;
            height: $square;
            border-radius: 99999em;
            color: var(--ion-color-white);
            position: absolute;
            padding: 0.6em;
        }
        button:focus {
            outline:0;
        }
    }

    .tecvirt-navigation-slides-buttons__container:first-child {
        button {
            left: - (($square / 2) + 10px);
            text-align: right;
        }
    }

    .tecvirt-navigation-slides-buttons__container:last-child {
        button {
            right: - (($square / 2) + 10px);
            text-align: left;
        }
    }

    
}

