<div class="feedback-modal" [@openClose]="startAnimation? 'open' : 'closed'">
  <tecvirt-progression-bar [progressionStep]="progressionStep" [isConclusionStep]="isConclusionStep"></tecvirt-progression-bar>
  <div class="feedback-modal__desktop">
    <span class="feedback-modal--header__close-btn">
      <ion-fab-button size="small" (click)="closeButtonClick()" color="dark">
        <ion-icon name="md-close"></ion-icon>
      </ion-fab-button>
    </span>
  </div>
  <div class="feedback-modal__mobile">
    <span class="feedback-modal--header__close-currentPage.button">
      <ion-icon name="md-close" (click)="closeButtonClick()"></ion-icon>
    </span>
  </div>
  <div class="feedback-modal__page-container" [@fadeInAnimation]="togglePage">
    <ion-icon [src]="currentPage.icon" *ngIf="currentPage.icon"></ion-icon>
    <span class="feedback-modal__page-container__title" [innerHTML]="currentPage.title"></span>
    <tecvirt-emotion-scale *ngIf="currentPage.emotionScale" [currentPage]="currentPage" (scaleEvt)="updateCurrentSelectedFeedback($event)"></tecvirt-emotion-scale>
    <tecvirt-feedback-list [listArray]="currentPage.problemsList" *ngIf="currentPage.problemsList" (feedbackEvt)="updateCurrentSelectedFeedback($event)"></tecvirt-feedback-list>
    <tecvirt-leave-buttons *ngIf="currentPage.leaveButtons" (buttonEvt)="handleLeaveButtonEvt($event)"></tecvirt-leave-buttons>
  </div>
  <div class="feedback-modal__button-container" *ngIf="currentPage.button">
    <tecvirt-button [label]="currentPage.button.text" [data]="currentPage.button" (clickEvent)="buttonClick(currentPage.button)" [color]="(currentPage.button.customClasses=== 'outline')? '' : 'primary'" size="large" troubleshooting="true">{{currentPage.button.text}}</tecvirt-button>
  </div>
</div>
