ion-list[button-troubleshotting]{
    background: transparent;
    ion-item{
        --ion-item-background: transparent;
        --inner-padding-end: 0 !important;
    }
    .label-no-margin{
        margin: 0;
    }
}
