.consult-or-share {
  margin-top: 10vh;
}

.consult-or-share__consult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;

  p {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
  }

  ion-button {
    width: 100%;
  }

  ion-icon {
    font-size: 3em;
  }

  h5 {
    margin-top: -.3em;
  }

  span.consult-or-share__consult--label {
    text-transform: initial;
  }
}

.consult-or-share__line--divider {
  height: 20px;
  border-bottom: 1px solid #D8D8D8;
  width: 90%;
  margin: 0 auto;
}

.consult-or-share__share {
  margin: 3vh 0;
  padding: 0 5vw;
}
