<div class="product-list">
    <p class="product-list__title">Alterar produto:</p>
    <div class="product-list__item"
      *ngFor="let item of productList; let isLast = last" (click)="productSelectAndtoggle(item, isLast)">
      <ion-menu-toggle class="product-list__item--toggle product-list__align--item" *ngIf="!isLast">
        <p product-name [class.name-highlighted]="(product.identifier === item.identifier)">{{item.displayName}}</p>
        <ion-icon *ngIf="user.authorization && (product.identifier === item.identifier)" color="info" name="checkmark-circle"></ion-icon>
      </ion-menu-toggle>
      <div class="product-list__item--last product-list__align--item">
        <p product-name *ngIf="isLast" [class.name-highlighted]="(product.productCode === item.productCode)">{{item.displayName}}</p>
        <ion-icon *ngIf="user.authorization && (product.productCode === item.productCode)" color="info" name="checkmark-circle"></ion-icon>
      </div>
      <ul *ngIf="isLast" class="product-list__subitem" [@enterAnimation]="(subItems || []).length">
        <li  *ngFor="let subItem of subItems" [class.disable-potfolio-item]="isNotOnPortfolio(subItem)" (click)="productSelect(subItem, $event);">
          <div class="product-list__subitem--item">
            <ion-icon src="{{iconPath}}/icone_fibra_{{subItem.icon}}_menu.svg"></ion-icon>
            <div class="product-list__align--item" *ngIf="!isNotOnPortfolio(subItem)">
              <ion-menu-toggle>
                {{subItem.displayName}}
              </ion-menu-toggle>
              <ion-icon color="info" name="ios-checkmark-circle-outline" *ngIf="isLoggedIn()"></ion-icon>
            </div>
            <div class="product-list__align--item" *ngIf="isNotOnPortfolio(subItem)">
              <p>
                {{subItem.displayName}} 
              </p>
              <small class="product-list__small--text">(Não contratado)</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>