.product-list {
  padding-top: 0.5rem;

  .product-list__title {
    font-size: 0.9rem;
    color: #909090;
  }

  .product-list__item {
    color: #121212;
    font-size: 1.1rem;
    cursor: pointer;

    .product-list__item--toggle {
      margin: 10px 0;
    }
  }

  .product-list__item--last {
    margin: 8px 0 0 0;
  }

  margin: 0;
  padding-left: 0;
  display: block;
  font-size: 1em;
  margin-left: 30px;
  list-style-image: url('./../../../assets/icon/menu/icone_linha.svg');
  cursor: pointer;

  ion-icon {
    margin-right: 10px;
  }

  .product-list__subitem {
    margin: 0;
    padding-left: 1em;
  }

  .product-list__subitem--item {
    margin-top: 10px;
    padding: .3rem 0;
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }
}

.name-highlighted {
  font-weight: bold;
}

.disable-potfolio-item {
  color: #909090 !important;
}

.product-list__align--item {
  display: flex;
  align-items: center;

  ion-icon {
    padding-left: 5px;
  }

  .product-list__small--text {
    font-size: 0.6rem;
    padding-left: 10px;
  }
}
