ion-list {
  background: var(--ion-color-light);
  padding-top: 0;

  div[notification-card] {
    padding: 10px 5% 10px 15%;
    width: 100%;

    .icon-area {
      ion-icon {
        color: var(--ion-color-info);
        font-size: 48px;
      }

      position: absolute;
      left: 1%;
      margin-top: 5px;
    }

    ion-label {
      white-space: inherit;
      padding-top: 5px;
      font-size: 16px;
      font-weight: bold;
      color: #121212;
      ;
    }

    p {
      color: #282828;
      font-size: 14px;
      margin: 5px 0;
    }

    .button-container {
      margin-bottom: 5px;
      margin-top: 20px;
    }
  }

  ion-item {
    --background: var(--ion-color-light);
  }

  .newNotification {
    --background: var(--ion-color-white);
  }
}

.no-padding {
  --inner-padding-end: 0px;
}

.firstMargin {
  margin-top: 5px;
}

.no-notification-container {
  padding: 0 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  ion-icon {
    color: var(--ion-color-medium);
    font-size: 70px;
  }

  .button-container {
    width: 100%;
  }
}
