.terms-of-use {
    display: flex;
    margin-bottom: 5px;
    span.terms-of-use--content{
        font-size: 0.8rem;
    }
    .terms-of-use--content__active {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }
    ion-checkbox {
        margin-right: 7px !important;
        margin-left: 0px !important;
    }
    a{
        color: #17d615;
    }
}


