.tecvirt-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tecvirt-loading__spinner{
        width: 60px;
        height: 60px;
    }
    .small {
        width: 30px;
        height: 30px;
    }
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
