.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    height: 12rem;
    width: 12rem;
  }

  .safe-space {
    margin-bottom: 5%;
  }
}
