<div dependencies>
  <p>Para acessar esta funcionalidade é preciso verificar suas configurações:</p>
  <div wifi-part class="wifi-signal-info" *ngFor="let dep of (dependencies$ | async) || []; let i = index">
      <tecvirt-state-circle [index]="i" [icon]="dep.icon" [state]="dep.state"></tecvirt-state-circle>
      <div class="text">
        <ion-label>{{dep.label}}</ion-label>
        <a (click)="depClick(dep)" *ngIf="(dep.state ==='error')">
          <ion-text color="primary"><p>{{dep.error}}</p></ion-text>
        </a>
      </div>
    </div>
</div>
