<div class="diagnostic-cancel">
  <div class="diagnostic-cancel-container">
    <p>
      Tem certeza que quer cancelar?
    </p>
    <p>
      Todo o progresso da verificação será perdido.
    </p>
    <div class="button-container">
      <tecvirt-button
        label="Voltar pro início"
        (clickEvent)="backToHome()"
        color="white"
        size="large"
        [data]="getBtnGa('cancel')"
      ></tecvirt-button>
      <tecvirt-button
        label="Continuar verificando"
        (clickEvent)="dismiss()"
        color="white"
        size="large"
        [data]="getBtnGa('keep')"
      ></tecvirt-button>
    </div>
  </div>
</div>
