<div wildcard-area (click)="resolvePendingAction(information?.action)">
    <h3>{{information?.title}}</h3>
    <div class="wildcard" [innerHTML]='information?.paragraph'></div>
    <div class="user" *ngIf="information.wild" (click)="handlerChangeContract()">
      <div class="user-header">
        <h6 class="user-title" *ngIf="!moreThanOneContract()">Dados de {{getProductName()}}</h6>
        <h6 class="user-title" *ngIf="moreThanOneContract()">{{getContractName()}}</h6>
        <ion-icon slot="start" name="ios-arrow-down" *ngIf="moreThanOneContract()"></ion-icon>
      </div>
      <div class="user-info">{{getKeyCpfOrCnpj()}}: <ion-text color="info"><p>{{getCpfOrCnpj()}}</p></ion-text></div>
      <div class="user-info">{{getKeyIdentifier()}}: <ion-text color="info"><p>{{getIdentifier()}}</p></ion-text></div>
      <ion-icon slot="end" color="info" name="checkmark-circle"></ion-icon>
    </div>
</div>
