.header-date-container{
    display: flex;
    justify-content: space-between;
}
.header-date-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    &:first-child {
        .header-date-content__top {
            font-size: 1.2em;
            color: var(--ion-color-info);
        }
        .header-date-content__bottom {
            font-size: 3em;
            font-weight: bold;
            color: var(--ion-color-info);
        }
    }
    &:last-child {
        align-items: flex-end;
        font-size: 1.2em;
        color: #6A6464;
    }
}
.header-date-divider {
    background: #979797;
}
.header-pendent-or-expired {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.pendent-visit-icon {
    min-width: 50px;
    height: 50px;
    margin-right: 15px;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/agendamento/visita_pendente.svg');
}
