ion-content[success] {
  height: 100%;
  --padding-start: 10vw;
  --padding-end: 10vw;
  --background: var(--ion-color-info);

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    color: white;
    font-size: 4em;
    font-weight: normal;
  }

  p {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  ion-icon {
    font-size: 8em;
    color: white !important;
  }

  .desktop-button {
    display: none;
  }

  .container-button {
    width: 100%;
  }

  ion-button {
    width: 100% !important;
    height: 10vh !important;
    max-width: 400px;
    max-height: 70px;
    --border-width: 1px;

    span {
      text-transform: initial !important;
      font-size: 17px;
    }
  }

  .feedback-background {
    height: 100vh;
    width: 100vw;
    background: #000000;
    opacity: 25%;
    position: absolute;
    left: 0;
  }

  .feedback-container {
    position: absolute;
    z-index: 100;
    width: 95%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .feedback-and-shared-container {
    width: 100%;
  }
}

@media (min-width: 600px) {
  ion-content[success] {
    --background: var(--ion-color-light);

    .container {
      justify-content: space-evenly;
      padding: 10vh;
    }

    h1 {
      color: var(--ion-color-info);
    }

    p {
      color: var(--ion-color-dark);
      font-size: 1.4em;
    }

    ion-icon {
      color: var(--ion-color-info) !important;
    }

    .desktop-button {
      display: flex !important;
      justify-content: center;
    }

    .phone-button {
      display: none;
    }

    .feedback-container {
      right: 10px;
      top: 25%;
      width: 350px !important;
      transform: none !important;
    }

    .feedback-background {
      background: transparent;
    }
  }

  div[success] {
    padding: 0 20vw 5vh 20vw;
  }
}
