.scheduling-slots-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.scheduling-slots {
    h4 {
        font-weight: normal;
        font-size: 1em;
    }
    .scheduling-slots__card {
        display: flex;
        width: 20%;
        flex-direction: column;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: black;
        strong {
            font-size: 1.6em;
        }
    }
    .scheduling-slots__card--period{
        @extend .scheduling-slots__card;
        width: 47%;
        height: 120px;
        border: 2px solid #909090;
    }

    .scheduling-slots__card-deck {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .scheduling-slots__card-deck--period {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .scheduling-slots__card-active{
        background: var(--ion-color-info);
        color: white;
        border: none;
    }
    .schedulling-buttons__button {
        display: flex;
        justify-content: center
    }
    .scheduling-slots__card--period-item {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .scheduling-slots__buttons {
        margin-top: 20px;
    }
}
.scheduling-slots__no-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        font-size: 1.6em;
        margin-bottom: 20px;
        font-weight: normal;
        text-align: center;
    }
    p {
        margin-bottom: 30px;
        text-align: center;
    }
}
.scheduling-slots__loading {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.scheduling-icon {
    margin-top: 30px;
    display: block;
    min-width: 70px;
    min-height: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.scheduling-icon-no-dates {
    @extend .scheduling-icon;
    background-image: url('../../../../assets/images/agendamento/agendamento_semdatas.svg');
}

