<div class="special-area">
  <ul [hidden]="expanded" class="special-area--list">
    <li *ngFor="let item of (page?.items || [])">
        {{ item }}
    </li>
  </ul>
  <div [class]="expanded ? 'special-area--expanded' : 'special-area--contract'" *ngIf="!!page.wildcard">
    <a
      (click)="toggleContent()"
      class="special-area--expanded__link"
      [hidden]="expanded"
    >
      <ion-icon slot="start" name="information-circle"></ion-icon>
      {{page.wildcard.title}}
    </a>
    <ion-card class="special-area--expanded__container" [hidden]="!expanded">
      <div class="special-area--expanded__container--close">
        <a
          class="special-area--expanded__container--close__link"
          (click)="toggleContent()"
        >
          <ion-icon color="dark" name="remove"></ion-icon>
        </a>
      </div>
      <ion-slides pager="true" [options]="slidesOptions" [hidden]="!expanded" #WildSlides>
        <ion-slide *ngFor="let slide of page.wildcard.slides">
          <div class="special-area--slide-content">
            <h1>{{slide.title}}</h1>
            <img [src]="'./assets/images/login/' + slide.img" alt="" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
</div>
