<div class="modal-container">
  <div *ngIf="loadingStep">
    <tecvirt-loading label="Carregando..." [color]="'secondary'" color="dark" class="loading-component"></tecvirt-loading>
  </div>
  <div *ngIf="notCobreStep">
    <h1 class="title">Atenção!<br>A sua internet é de Fibra.</h1>
    <p class="paragraph">Você selecionou Banda Larga de cobre, porém a tecnologia do produto que você tem contratado é de <b>fibra ótica</b>.<br><br>
      Você pode acessar selecionando <b>“Fibra”</b> na tela de início do app ou clicando abaixo:</p>
    <div class="login-buttons-container">
      <tecvirt-button
        class="tecvirt-button"
        color="green"
        label="Ir para Internet de Fibra"
        (clickEvent)="onClick(true, '')"
      >
      </tecvirt-button>
      <a (click)="onClick(false, '')" class="login-link-skip">
        Sair
      </a>
    </div>
  </div>
</div>
