<div class="automatic-step-container" [@inOutAnimation]="animation">
    <h1 [innerHTML]="page?.title" [class.text-align-left]="page.skipCrono"></h1>
    <tecvirt-step-timer *ngIf="countdown && !page.skipCrono" [timer]="timer"></tecvirt-step-timer>
    <p [innerHTML]="page?.paragraph" [class.text-align-left]="page.skipCrono"></p>
    <div style="width: 100%;">
        <tecvirt-button class="tecvirt-button-automatic" *ngFor="let btn of (page?.buttons || [])" color="green"
            outline="true" [data]="btn" size="large" class="login-messages-flex-btn"
            (clickEvent)="automaticAction(btn)">
            <ion-text color="dark">
                <span [innerHTML]="btn.txt">
                </span>
            </ion-text>
        </tecvirt-button>
    </div>
</div>