div[stb-selector] {
    .card-stb {
        max-width: 300px;
        height: 3rem;
        display: flex;
        align-items: center;
        div[icon]{
            padding: 0 .6rem;
            ion-icon {
                color: #00AB0F !important;
                font-size: 18px;
              }
        }
        .label-button {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            span {
              font-size: 0.8em;
            }
          }
    }
    p{
        font-size: .8rem;
        padding: 10px;
        a {
            color: var(--ion-color-primary);
        }
    }
    .ion-margin {
        margin-top: 3rem;
    }
    .stb-done {
        color: #909090;
    }
    .card-selected {
        border: 2px solid #00C0D2 !important;
    }
    .max-width {
      max-width: 350px;
    }
    ion-card {
        border: 2px solid transparent;
    }
    .button-container {
      padding-left: 10px;
    }
}
