ion-card-content {
  padding: 5px !important;
}
ion-button {
  height: 30px;
  --padding-start: 0;
}
ion-card[home-card] {
  margin: 2.5% 20px !important;
}
ion-card-subtitle[card-title] {
  color: var(--ion-color-secondary) !important;
  font-size: 0.7rem;
  font-weight: bold;
}
ion-card[multi-card-button] {
  margin: 10px;
}

.card {
  ion-card-content {
    .right-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .icon {
      background-size: 90% 100%;
      background-repeat: no-repeat;
    }
    .button {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 10px;
      img {
        max-width: 20px;
        height: 18px;
      }
      .button__right-border {
        margin: 0 10px;
        width: 1px;
        height: 20px;
        background: #D8D8D8;
      }
      .label-button{
        font-size: 14px;
        text-transform: none;
        color: var(--ion-color-dark-green);
      }
    }
    .icon-network {
      @extend .icon;
      width: 100%;
      height: 55px;
      background-image: url('../../../../assets/icon/cards-home/rede.svg') !important;
    }
  }
}
.loading {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-text {
  font-size: 11px;
  margin: 10px;
  margin-top: 0;
}
.isDisabled {
  color: var(--ion-color-medium) !important;
}

@media (min-width: 600px) {
  .card {
    width: 320px;
  }
}