// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

//TODO refactor the colors

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00AB0F;
  --ion-color-primary-rgb: 0,171,15;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00960d;
  --ion-color-primary-tint: #1ab327;

  /** secondary **/
  --ion-color-secondary: #00C0D2;
  --ion-color-secondary-rgb: 0,192,210;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #00a9b9;
  --ion-color-secondary-tint: #1ac6d7;

  /** tertiary **/
  --ion-color-tertiary: #A7D507;
  --ion-color-tertiary-rgb: 167,213,7;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #93bb06;
  --ion-color-tertiary-tint: #b0d920;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #FFD700;
  --ion-color-warning-rgb: 255,215,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bd00;
  --ion-color-warning-tint: #ffdb1a;

  /** danger **/
  --ion-color-danger: #E70000;
  --ion-color-danger-rgb: 231,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cb0000;
  --ion-color-danger-tint: #e91a1a;

  /** dark **/
  --ion-color-dark: #4A4A4A;
  --ion-color-dark-rgb: 74,74,74;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #ffffff;
  --ion-color-dark-tint: #5c5c5c;

  /** dark variation **/
  --ion-color-dark-variation: #2A2A2A;
  --ion-color-dark-variation-rgb: 42,42,42;
  --ion-color-dark-variation-contrast: #ffffff;
  --ion-color-dark-variation-contrast-rgb: 255,255,255;
  --ion-color-dark-variation-shade: #252525;
  --ion-color-dark-variation-tint: #3f3f3f;

  /** medium **/
  --ion-color-medium: #909090;
  --ion-color-medium-rgb: 144,144,144;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #7f7f7f;
  --ion-color-medium-tint: #9b9b9b;

  /** light **/
  --ion-color-light: #f3f3f3;
  --ion-color-light-rgb: 243,243,243;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d6d6d6;
  --ion-color-light-tint: #f4f4f4;

  /** green **/
  --ion-color-green: #00AB0F;
  --ion-color-green-rgb: 0,171,15;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255,255,255;
  --ion-color-green-shade: #00960d;
  --ion-color-green-tint: #1ab327;

  --ion-color-dark-green: #216F1B;
  --ion-color-dark-green-rgb: 33,111,27;
  --ion-color-dark-green-contrast: #ffffff;
  --ion-color-dark-green-contrast-rgb: 255,255,255;
  --ion-color-dark-green-shade: #1d6218;
  --ion-color-dark-green-tint: #377d32;

  --ion-color-info: #00C0D2;
  --ion-color-info-rgb: 0,192,210;
  --ion-color-info-contrast: #FFFFFF;
  --ion-color-info-contrast-rgb: 255,255,255;
  --ion-color-info-shade: #00a9b9;
  --ion-color-info-tint: #1ac6d7;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-color-black: #000000;
  --ion-color-black-rgb: 0,0,0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255,255,255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}
.ion-color-dark-green {
  --ion-color-base: var(--ion-color-dark-green);
  --ion-color-base-rgb: var(--ion-color-dark-green-rgb);
  --ion-color-contrast: var(--ion-color-dark-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-green-shade);
  --ion-color-tint: var(--ion-color-dark-green-tint);
}
.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}
.ion-color-info {
  --ion-color-base: var(--ion-color-info);
  --ion-color-base-rgb: var(--ion-color-info-rgb);
  --ion-color-contrast: var(--ion-color-info-contrast);
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
  --ion-color-shade: var(--ion-color-info-shade);
  --ion-color-tint: var(--ion-color-info-tint);
}
.ion-color-dark-variation {
  --ion-color-base: var(--ion-color-dark-variation);
  --ion-color-base-rgb: var(--ion-color-dark-variation-rgb);
  --ion-color-contrast: var(--ion-color-dark-variation-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-variation-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-variation-shade);
  --ion-color-tint: var(--ion-color-dark-variation-tint);
}
