<ion-header no-border>
  <ion-toolbar color="dark-variation">
    <ion-item class="menu-slide__header" lines="none" (click)="closeButtonAction()">
        <ion-icon name="md-close"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color="dark-variation">
  <div menu-slides>
    <div class="menu-slide__divider"></div>
    <ion-list *ngIf="!buttonsAccordion.length" class="slides-simple-list">
      <ion-item (click)="dismissModal(item)" class="menu-slides-item" *ngFor="let item of items; let idx = index">
        <ion-label class="ion-text-wrap menu-slides-item__label">
          {{ item.description }}
        </ion-label>
    </ion-item>
    </ion-list>
    <div *ngIf="buttonsAccordion.length">
      <div *ngFor="let item of buttonsAccordion" class="slides-accordion">
        <button class="slides-accordion__button" (click)="expandAccordion(item)">
          {{item.title}}
          <ion-icon slot="end" class="list-arrow" [name]="item.open ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
        </button>
        <div *ngIf="item.open">
          <a *ngFor="let subitem of item.items" (click)="dismissModal(subitem)" class="slides-accordion__link">
            <ion-icon name="md-arrow-dropright" color="white"></ion-icon>
            {{ subitem.description }}
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
