.menu-slide__header {
    --background: transparent;
    ion-icon {
        color: white;
    }
}
.menu-slide__divider {
    height: 5px;
    border-bottom: 1px solid white;
    width: 90%;
    margin: 0 auto;
  }
.menu-slides-item {
    width: 95%;
    --background: transparent;
    --border-color: white;
}
.menu-slides-item__label {
  font-size: 16px !important;
  color: var(--ion-color-info);
}
.slides-simple-list {
    padding: 0 !important;
    background: transparent;
}
.slides-accordion {
    button.slides-accordion__button {
        background: transparent;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        text-align: left;
        font-size: 16px;
        outline: none;
        color: var(--ion-color-info);
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid white;
    }
    a.slides-accordion__link {
        display: flex;
        align-items: center;
        color: white;
        padding: 6px 20px;
        font-size: 14px;
        margin-top: 8px;
    }
}
div[menu-slides] {
    height: 100%;
    width: 100%;
    padding: 5px;
}