<ion-content wizard>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col
        size="12"
        size-xs="12"
        size-md="4"
        size-lg="4"
        offset-lg="4"
        offset-md="4"
        class="ion-no-padding"
      >
        <div class="wizard-header animate-{{getAnimation()}}">
        </div>
        <div class="wizard-container" (swipe)="onSwipe($event)">
          <div class="wizard-content">
            <h1 *ngIf="page.title">
              {{ page.title }}
            </h1>
            <div *ngIf="(page.items || []).length" class="wizard-list">
              <h3>{{ page.titleSection }}</h3>
              <div
                class="wizard-list-item"
                *ngFor="let item of page.items || []"
              >
                <span slot="start">
                  <img [src]="getIcon(item.icon)" />
                </span>
                <p>{{ item.txt }}</p>
              </div>
              <div class="wizard-list-footer">
                <p>
                  e muito mais...
                </p>
              </div>
            </div>
          </div>
          <div class="wizard-footer">
            <tecvirt-button
              class="tecvirt-button"
              color="green"
              [label]="btn.txt"
              (click)="onClick(btn)"
              *ngFor="let btn of page.buttons"
              [data]="btn"
              size="large"
            ></tecvirt-button>
          </div>
        </div>
        <div class="wizard-dots-container">
          <tecvirt-wizard-dots
            (bulletEvt)="bulletEvt($event)"
            [page]="page"
            [pages]="pages"
          ></tecvirt-wizard-dots>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
