.ts-full-heigth-slides {
    height: 100%;
}
.slides-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.slide-container{
    height: 100%;
    width: 92%;
}
.slide-top-section {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 40%;
    margin: 0;
    padding: 0;

    h2 {
        text-align: left;
        font-size: 1.2em;
        margin-left: 1em;
    }
}

.image-guide {
    min-width: 30vmin;
    max-width: 30vmin;
}

.top-container-section {
    background: transparent;
    display: flex;
    flex-grow: 2;
    max-height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;

    p {
        font-size: 1em;
        padding: 0 1em;
        width: 100%;
        ::ng-deep strong {
            color: white; 
            background: #6D6D6D; 
            padding: 0 0.3em; 
            border-radius: 0.2em; 
            text-transform: uppercase;
        }
    }

    img {
        margin-left: 1em;
    }
}
.full-width {
    width: 100%;
}
.slide-bottom-section {
    background: transparent;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    a {
        //thumbnail
        background: transparent;
        position: absolute;
        display: flex;
        width: 7em;
        height: 4em;
        font-size: 0.8em;
        color: gray;
        right: 1em;
        bottom: 4vh;

        span {
            background: inherit;
            display: flex;
            align-items: center;
            text-align: right;
            padding-right: 0.2em;
        }

        img {
            width: 20vw;
            padding: 0.3em;
        }
    }
}

.thumb-right {
    flex-direction: column;
    align-items: flex-end;
}

.thumb-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    line-height: 1em;

    span {
        margin-top: 2vh;
    }
}

.vertical-img {
    min-width: 40vmin !important;
    max-width: 40vmin !important;
}

.horizontal-img {
    min-width: 80vmin !important;
    max-width: 80vmin !important;
}

.top-full-image-slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-full-image-slide__img {
    position: absolute;
    height: auto;
    width: auto;
}
.top-column-mode { 
    height: 100%;
    strong {
      color: var(--ion-color-white); 
      background: #6D6D6D; 
      padding: 0 0.3em; 
      border-radius: 0.2em; 
      text-transform: uppercase;
    }
    .bc-container {
      padding-left: 1em;
    }
    .top-container-section {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      img {
        margin-bottom: 9vh;
      }
    }
    .image-guide {
      margin: 0;
      min-width: 60vmin;
      max-width: 60vmin;
    }
  }
.remove-bottom-margin {
    margin-bottom: 0 !important;
}
ion-slides{
    --bullet-background-active: var(--ion-color-secondary);
    --bullet-background: black !important;
}
.swiper-pagination {
bottom: 10vh !important;
}

@media (min-width: 600px) {
    .vertical-img {
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .horizontal-img {
        min-width: 400px !important;
        max-width: 400px !important;
    }
    .image-guide {
        min-width: 20vmin;
        max-width: 20vmin;
    }
}
