<div class='progress-ring'>
  <svg 
     width='120'
     height='120'>
    <circle #myCircle
      class='progress-ring__circle'
      stroke='#00C0D2'
      stroke-width='5'
      fill='transparent'
      r='52'
      cx='60'
      cy='60'
      stroke-dashoffset='327'/>
      <circle
      class='progress-ring__circle'
      stroke='#909090'
      stroke-width='.5'
      fill='transparent'
      r='50'
      cx='60'
      cy='60'/>
  </svg>
  <span class='progress-ring__percentage'>{{percentage}}%</span>
</div>