div[diagnostic-state-circle] {
  $stateSize: 50px;
  $todoColor: var(--ion-color-medium);
  $doingColor: var(--ion-color-secondary);
  $doneColor: var(--ion-color-primary);
  $errorColor: var(--ion-color-danger);
  width: $stateSize;
  height: $stateSize;
  padding: 0;
  color: gray;
  position: relative;
  margin-right: 10px;

  .state-inner {
    position: absolute;
    width: $stateSize;
    height: $stateSize;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      font-size: 1.7em !important;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.7);
    }

    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.7);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .pulse-icon {
    animation: pulse 1000ms linear infinite;
  }

  .circle {
    display: block;
    height: $stateSize;
    width: $stateSize;
    border-radius: 50%;
    border: 2px solid $doingColor;
  }

  .state-todo {
    @extend .circle;
    border-color: $todoColor;
    transform: scale(0.5);
  }

  .state-doing {
    @extend .circle;
    position: absolute;
    height: $stateSize - 10px;
    width: $stateSize - 10px;
    top: 5px;
    left: 5px;
    border-left-color: var(--ion-color-light);
    border-right-color: var(--ion-color-light);
    animation: rotate 1.2s linear infinite;
  }

  .state-outer-circle {
    content: '';
    @extend .circle;
    animation: none;
    position: absolute;
    top: 0;
    left: 0;
    border-top-color: var(--ion-color-light);
    border-bottom-color: var(--ion-color-light);
    animation: rotate 0.7s ease infinite;
  }

  .state-done {
    @extend .circle;
    background: $doneColor;
    border: $doneColor;
    animation: fadeIn 700ms ease-in;
  }

  .state-error {
    @extend .state-done;
    background: $errorColor;
  }
}
