<div *ngIf="state" diagnostic-state-circle>
    <span class="state-{{state}}"></span>
    <span class="state-outer-circle" *ngIf="state === 'doing'"></span>
    <span class="state-inner">
        <span *ngIf="state === 'todo'">{{ index + 1}}</span>
        <span *ngIf="state === 'doing'"><ion-icon class="pulse-icon" color="info" [src]="icon"></ion-icon></span>
        <span *ngIf="state === 'done'"><ion-icon color="white" name="checkmark"></ion-icon></span>
        <span *ngIf="state === 'error'"><ion-icon color="white" name="close"></ion-icon></span>
    </span>
</div>
