<ion-content class="contracts-wrapper">
  <div class="contracts-container">
    <!-- core component -->
    <div class="contracts--core">
      <!-- begin header contracts -->
      <div class="contracts--header">
        <span class="contracts--header__close-btn">
          <ion-icon slot="end" name="md-close" (click)="dismiss()"></ion-icon>
        </span>
      </div>
      <!-- main content -->
      <div class="contracts-title-wrapper">
        <h1 class="contracts--title">Selecione um produto:</h1>
      </div>
      <ion-list class="contracts--list" *ngFor="let contract of contracts;">
        <ion-item class="contract" (click)="select(contract)">
          <ion-label class="contract--info">
            <h2 class="contract--name"> {{getContractName(contract)}} </h2>
            <h3 class="contract--terminal"> {{getContractTerminal(contract)}} </h3>
            <h3 class="contract--terminal" *ngIf="contract.contrato"> Nº do cliente: {{getContractNumber(contract)}} </h3>
            <h3 class="contract--terminal" *ngIf="contract.identifier">{{getIdentifierNumber(contract)}}</h3>
          </ion-label>
          <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
