<div class="consult" *ngIf="constructComponent">
  <div class="consult__separation-line"></div>
  <div class="consult__image-container">
    <img src="./assets/images/offer/fibra-offer-logo.svg" alt="fibra-offer">
  </div>
  <ion-text color="primary">
    <h5>VOCÊ AINDA NÃO TEM OI FIBRA?</h5>
  </ion-text>
  <p>Aproveite a internet com ultra velocidade,
    modem WiFi Up e TV em alta definição.</p>
  <div class="consult__button">
    <tecvirt-button outline="true" size="large" (clickEvent)="checkAvailability()">Consultar disponibilidade</tecvirt-button>
  </div>
</div>