<tecvirt-header
  title="Visitas Técnicas"
  hiddenBack="true"
  (closeButtonEvt)="goToHome()"
></tecvirt-header>
<div class="scheduling-loading-container" *ngIf="schedulingService.loading">
  <tecvirt-loading
    color="info"
    label="Carregando visitas técnicas"
  ></tecvirt-loading>
</div>
<ion-content color="light" *ngIf="!schedulingService.loading">
  <ion-grid fixed>
    <ion-row>
      <!--  PENDING and NOPENDING filter by logic on ts -->
      <ion-col
        size="12"
        size-xs="12"
        size-md="6"
        size-lg="6"
        offset-lg="3"
        offset-md="3"
        [@enterAnimation]="getPendingScheduling().length"
      >
        <div *ngFor="let item of getAgendamentos()">
          <h3 *ngIf="item.categoryTitle" class="scheduling-category-title">{{item.categoryTitle}}</h3>
          <ion-card color="white">
            <ion-card-header>
              <tecvirt-header-date [agendamento]="item"></tecvirt-header-date>
            </ion-card-header>
            <ion-card-content>
              <tecvirt-scheduling-timeline
                [agendamento]="item"
              ></tecvirt-scheduling-timeline>
              <tecvirt-scheduling-buttons
                [agendamento]="item"
              ></tecvirt-scheduling-buttons>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <!-- ERROR OR NO SCHEDULINGS FOUND -->
    <ion-row
      *ngIf="
        !schedulingService.loading &&
        (schedulingService.error || !getAgendamentos().length)
      "
    >
      <ion-col
        size="12"
        size-xs="12"
        size-md="6"
        size-lg="6"
        offset-lg="3"
        offset-md="3"
      >
        <div
          *ngIf="schedulingService.error; else noSchedulingFound"
          class="error-or-no-schedules"
        >
          <h1>
            No momento, não conseguimos realizar a consulta.
          </h1>
          <p>
            Tente novamente mais tarde. Caso tenha um reparo ou serviço em
            andamento, escolha um tipo de problema na tela inicial do produto.
          </p>
        </div>
        <ng-template #noSchedulingFound>
          <div class="error-or-no-schedules">
            <h1 class="error-or-no-schedules__title">
              Não há nenhum reparo ou serviço em andamento.
            </h1>
            <p>
              Caso tenha um reparo ou serviço em andamento, escolha um tipo de problema na tela inicial do produto. 
              Faremos uma verificação automática com mais informações de sua solicitação.
            </p>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getAgendamentos().length">
      <ion-col
        size="12"
        size-xs="12"
        size-md="6"
        size-lg="6"
        offset-lg="3"
        offset-md="3"
      >
        <div class="scheduling-footer-message">
          <h3>
            É importante saber:
          </h3>
          <p>
            Em caso de serviço ou reparo, podem ocorrer
            <strong>instabilidades temporárias</strong>. Aguarde a sua conclusão
            pra voltar a usá-lo normalmente.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
