.login--header {
    display: flex;
    justify-content: space-between;
}
.login--header__title {
    font-size: 0.9em;
    font-weight: normal;
    color: var(--ion-color-info);
}
ion-icon {
    cursor: pointer;
}