div[rede-list] {
    ion-card {
        max-width: 300px;
        height: 3rem;
        display: flex;
        align-items: center;
        ion-label {
            padding: 2rem;
            font-size: 1rem;
        }
    }
    p{
        font-size: .8rem;
        padding-left: 10px;
    }
}