div[accordion-dispositivos] {
  display: flex;
  justify-content: center;
  ion-list {
    background: white;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 5px;
    ion-list-header {
      height: 4rem;
      padding-left: 0;
    }
  }
  .accordion-header {
    background: transparent;
    width: 100%;

    .accordion-header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
    }
    .icon {
      font-size: 20px;
      color: #5C5C5C;
    }
    ion-label {
      color: var(--ion-color-secondary);
      padding-left: 10px;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: none;
    }
    .rigth-area {
      font-size: 0.7rem;
      color: #909090;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      p {
        text-transform: none;
      }
    }
    .green-text {
      color: #00AB0F !important;
      ion-icon {
        color: #00AB0F !important;
        font-size: 18px;
      }
    }
  }

  div[devicesList] {
    div[item] {
      display: flex;
      width: 100%;
      align-items: center;
      .unknown-device{
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        text-align: center;
        ion-icon {
          font-size: 30px;
        }
        p {
          font-size: .5rem;
          color: var(--ion-color-danger);
        }
      }
      .radius-checkbox {
        --size: 18px;
      }
    }
    .device-item {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      border-radius: 5px;
      color: #595959;
      padding: 5px 0 5px 10px;

      h1 {
        font-size: 1rem;
        margin: 5px 0;
        font-weight: bold;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 5px;
        margin-top: 0;
      }
    }
    .wifi-device-content-reduced{
      display: flex;
      justify-content: center;
      color: #595959;
      font-size: .8rem;
      ion-icon{
        font-size: 30px;
      }
    }
  }
  div[button-item] {
    padding: 10px 15px;
    text-align: center;
  }
}
.band-label {
  font-size: .8rem;
  padding-left: 10px;
}

.info-sameSSID-container {
  padding: 0 10px;
  width: 100%;
  .info-sameSSID {
    color: #606060;
    line-height: 1.3rem;
    width: 100%;
    margin-top: -10px;
  }
}
