<ion-buttons (click)="onClick()">
    <div notification-area class='circle ion-activatable'>
        <div *ngIf="notificationService.getNotificationsCountUnread((notificationService.notifications | async)) as newNoti; else noNewNoti">
          <div class="notification-icon new-notification-icon"></div>
          <div class="notifications-badge" >
            <p>{{newNoti}}</p>
          </div>
        </div>
        <ng-template #noNewNoti><div class="notification-icon"></div></ng-template>
        <ion-ripple-effect class="circle"></ion-ripple-effect>
    </div>
  </ion-buttons>
  