<div class="offline-handler" login>
    <div class="offline-handler__header">
        <h1>Aguarde um pouco e tente novamente mais tarde</h1>
    </div>
    <ion-text color="medium"><p>
        Você excedeu o limite de tentativas em um curto período de tempo.<br><br>
        Por segurança, aguarde alguns minutos e tente realizar esta ação novamente mais tarde.
    </p></ion-text>
    <tecvirt-button label="Voltar pro inicio" (clickEvent)="logoutAndReturn()" color="white" size="large" [data]="{gaAction: 'voltar_inicio'}"></tecvirt-button>
</div>
