<div class="migracao-container" *ngIf="page">
  <div class="migracao-container__header">
      <h1>{{page.title}}</h1>
      <ion-icon slot="end" name="close" (click)="closeButtonModal()" *ngIf="!page.noCloseButton"></ion-icon>
  </div>
  <ion-text color="medium">
    <p [innerHTML]="page.paragraph"></p>
    <p [innerHTML]="page.smallParagraph" class="migracao-container__small-text"></p>
  </ion-text>
  <tecvirt-feedback-list *ngIf="page.agedamentoList" [listArray]="dateList" (feedbackEvt)=updateDate($event)></tecvirt-feedback-list>
  <div class="migracao-container__button-list">
    <tecvirt-button *ngFor="let btn of page.buttons"
      [label]="btn.text"
      [color]="btn.customClasses ? btn.customClasses : 'green'"
      [data]="btn"
      [disabled]="btn.isDisabled && !dateSelected"
      (clickEvent)="onClick(btn)">
    </tecvirt-button>
  </div>
</div>
