div.migracao-container {
  background-color: var(--ion-color-light);
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  margin: auto;

  .migracao-container__header {
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: left;
      font-weight: normal;
      font-size: 1.1em;
      margin-top: 20px;
      margin-bottom: 0;
    }

    ion-icon {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 0;
    font-size: .9em;
  }

  .migracao-container__small-text {
    font-size: .7em;
  }

  .migracao-container__button-list {
    margin-top: 2vh;
  }
}

@media (min-width: 600px) {
  div.migracao-container {
    max-width: 350px !important;
  }
}
