<ion-content class="login-wrapper">
  <div class="login-container" *ngIf="loginSteps">
      <!-- core component -->
      <div class="login--core">
        <!-- begin header login -->
        <tecvirt-login-header [page]="currentStep" (backStepEvt)="backStep()" (dismissEvt)="logoutAndDismiss()"></tecvirt-login-header>

        <!-- loading component -->
        <tecvirt-loading label="Carregando..." [color]="'secondary'" class="login-loading-component" *ngIf="loading" color="dark"></tecvirt-loading>

        <!-- login messages component error -->
        <tecvirt-login-messages [product]="product" (actionEvt)="errorMessage($event)" *ngIf="currentStep && currentStep.errorPage" [page]="currentStep"></tecvirt-login-messages>

        <!-- main content -->
        <div *ngIf="!loading && currentStep && !currentStep.errorPage">
            <div class="login-title-wrapper">
                <h1 class="login--title">{{ currentStep?.title }}</h1>
                <ion-icon [src]="'./assets/icon/attention.svg'" *ngIf="currentStep.warningIcon"></ion-icon>
            </div>

            <div class="login--special-content" *ngIf="currentStep?.specialArea">
              <tecvirt-login-special-area [page]="currentStep.specialArea"></tecvirt-login-special-area>
            </div>
            <img class="login-img" src="assets/images/login/{{currentStep.img}}" alt="login-imagem-conta" *ngIf="currentStep.img">
            <p class="login--paragraph" [innerHTML]="currentStep?.paragraph" *ngIf="!!currentStep?.paragraph"></p>
            <tecvirt-terms-of-use check-box-modal
              class="login--terms-of-use"
              (termsUpdated)="useTermsUpdated($event)"
              *ngIf="isCpfOrCnpjStep()"
            >
            </tecvirt-terms-of-use>
            <tecvirt-input-default
              class="login--inputs"
              (inputChanged)="cleanErrors()"
              cypress="input-cpf-or-cnpj-modal"
              *ngIf="isCpfOrCnpjStep() || isInvalidDataStep()"
              [parentFormControl]="cpfOrCnpjFormControl"
              [label]="currentStep.formLabel || currentStep.cpfOrCnpjForm"
              mask="cpfOrCnpj"
            >
            </tecvirt-input-default>
            <tecvirt-input-default
              class="login--inputs"
              cypress="input-identifier"
              *ngIf="currentStep.identifierForm || isInvalidDataStep()"
              [parentFormControl]="identifierFormControl"
              [label]="currentStep.formLabel || currentStep.identifierForm"
              [mask]="currentStep?.mask"
            >
            </tecvirt-input-default>
            <div class="login-buttons-container">
              <tecvirt-keep-me-logged-in
                *ngIf="currentStep.identifierForm && isMobilePlatform()"
              ></tecvirt-keep-me-logged-in>
              <tecvirt-button
                class="tecvirt-button"
                color="green"
                [label]="btn.txt"
                (clickEvent)="onClick(btn)"
                *ngFor="let btn of currentStep.buttons"
                [disabled]="isDisabled(currentStep)"
                [data]="btn"
                [loading]="loadingButton"
              >
              </tecvirt-button>
              <a (click)="presentWarningNoLogin()" class="login-link-skip" *ngIf="enableSkipLogin">
                  Continuar sem login
              </a>
            </div>
            <!-- MINHA OI -->
            <div
              class="login--otherlogin-area"
              *ngIf="currentStep?.otherLoginOption"
            >
              <h3 class="login--title__reduced">
                {{ currentStep.otherLoginOption.title }}
              </h3>
              <ion-button
                class="login--button__outline"
                color="green"
                fill="outline"
                (click)="navAction(currentStep?.otherLoginOption.button.action)"
              >
                <span class="login--button__outline--label">{{
                  currentStep.otherLoginOption.button.txt
                }}</span>
              </ion-button>
            </div>
        </div>
      </div>
    </div>
</ion-content>
