<div class="oi-expert">
  <img [src]="expertNovaOi" class="expert-img"/>
    <div class="container-box">
      <img [src]="expertLogo" class="oi-expert-title"/>
        <p class="description"><b>Cliente Oi Fibra</b> 
          a partir de 400 Mega conta com o Oi Expert, especialistas pra te ajudar <b>24h por dia</b> com soluções quando precisar.<br><br>
          Você tira suas dúvidas e realiza diagnósticos dos seus celulares, computadores,  tablets, Smart TVs, roteadores Wi-Fi Mesh e mais.<br><br>
          Quer descomplicar sua vida digital? <br>
          Conte com a gente. ;)</p>
          <ion-button color="dark-variation" shape="round" (click)="goToOiExpert()" class="expert-button">
            <span>
              Mais sobre Oi Expert
            </span>
          </ion-button>
    </div>
</div>