ion-slides{
  --bullet-background-active: var(--ion-color-secondary);
  --bullet-background: white;
  background: var(--ion-color-dark);
  padding-bottom: 2.5rem;
  ion-slide{
      display: block;
      width: inherit;
      padding: 0 1.2em;
      text-align: left;
      padding-bottom: 10px;
  }
  h3{
      color: var(--ion-color-tertiary);
      text-transform: uppercase;
      font-size: .9em;
      margin-top: 0;
  }
  p{
      margin-top: 5px;
      margin-bottom: 0px;
      color: var(--ion-color-white);
      font-size: 1rem;
  }
  .button{
      text-align: center;
      padding-bottom: 10px;
  }
  p[link] {
    text-decoration: none;
    color: var(--ion-color-primary);
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (min-width: 600px) {
  ion-slides {
    width: 300px;
    ion-slide {
        width: 300px;
    }
  }
}
