<ion-header>
    <ion-toolbar background>
      <div class="header-content">
        <ion-icon name=""></ion-icon>
        <div left-header>
            <ion-label id="other-apps-title">Outros Apps</ion-label>
        </div>
        <ion-icon slot="end" name="md-close" (click)="closeModal()" ></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
<ion-content other-apps color="light">
  <ion-list>
      <ion-item color="light" class="ion-no-padding" *ngFor="let app of appsOi">
        <div class="item-content">
          <img src="{{app.icon}}" alt="icon-{{app.id}}">
          <div class="app-content">
            <ion-label title>{{app.title}}</ion-label>
            <p>{{app.description}}</p>
            <p  *ngIf="shouldPresentMarket()" class="violet-link" (click)="openMarket(app)">
              <span>Saiba mais</span>
              <ion-icon name="md-open"></ion-icon>
            </p>
          </div>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
