<div wifi-verifier *ngIf="wifiInfo">
  <div speedometer-container *ngIf="!tips">
    <h1 core-ts-title>{{page.title}}</h1>
    <tecvirt-speedometer [wifiLevel]="wifiInfo?.level"></tecvirt-speedometer>
    <div class="wifi-info" *ngIf="wifiInfo.SSID">
        <ion-text color="info">
          <ion-label>{{wifiInfo?.SSID}}</ion-label>
        </ion-text>
        <ion-label>({{wifiInfo?.frequency}})</ion-label>
    </div>
    <p core-ts-paragraph *ngIf="page">{{page.paragraph}}</p>
  </div>
  <div *ngIf="tips">
    <h1 core-ts-title tips>{{page.title}}</h1>
    <img [src]="getCompatibilityImage()" alt="device-compatibility">
    <p core-ts-paragraph [innerHTML]="page.paragraph"></p>
  </div>
  <ion-list button-wifi-signal *ngIf="(page && page.buttons)">
    <ion-item lines="none" class="ion-text-center ion-no-padding" *ngFor="let btn of page.buttons, index as i">
      <ion-label class="label-no-margin">
        <tecvirt-button [label]="btn.text" color="white" size="large" (clickEvent)="btnClickEvnt(btn)" [data]="btn"></tecvirt-button>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
