<div class="pwa-header" *ngIf="!isMobileWidth()">
  <a href="https://www.oi.com.br"><img src="./../../../assets/icon/app_icon.png" alt="logo-oi"></a>
  <h1>Técnico Virtual - Suporte Técnico da Oi</h1>
</div>
<div class="product-list">
  <div class="product-list__title-area" *ngIf="isMobileWidth()">
    <h1 class="product-list__app--title">TÉCNICO VIRTUAL</h1>
    <h2 class="product-list__app--subtitle">Suporte Técnico Oi</h2>
  </div>
  <div *ngIf="cpfOrCnpjStep">
    <tecvirt-get-portfolio (clickEvent)="setProductList($event)"></tecvirt-get-portfolio>
  </div>
  <div *ngIf="!cpfOrCnpjStep">
    <h3 class="product-list__title">
      Pra qual produto você deseja atendimento?
    </h3>
    <div class="product-list__item" *ngFor="let item of items" (click)="expandProduct(item)">
      <div class="product-list__item--header">
        <div product>
          <ion-icon src="{{iconPath}}/{{item.icon}}.svg" class="{{item.iconClass}}"></ion-icon>
          {{ item.displayName | uppercase }}
        </div>
        <ion-icon [name]="item.open ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
      </div>
      <div class="product-list__subitem"  *ngIf="item.open">
        <div *ngFor="let subItem of item.technologies" (click)="productSelect($event, subItem); false">
          <div class="product-list__subitem--item ion-activatable">
            <ion-icon src="{{iconPath}}/{{subItem.icon}}.svg"></ion-icon>
            <div class="product-list__subitem--item-text">
              {{ subItem.displayName }}
              <p class="product-list__subitem--item-subtitle">{{subItem.subTitle}}</p>
            </div>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-icon name="ios-arrow-forward" class="product-list__subitem--item__arrow" color="black"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-list__view--more">
  <tecvirt-viewmore-button noLabel="true" (click)="scrollScreen($event)"></tecvirt-viewmore-button>
</div>
