<ion-content product-portfolio color="light">
  <div product-portfolio-page>
    <div class="grid-index">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col *ngIf="!loading" size="12" size-xs="12" size-md="12" size-lg="12" class="ion-no-padding">
            <tecvirt-portfolio-list (productSelected)="productSelect($event)" (viewMoreEvt)="fibraOfferView()" (updateBanner)="updateBanner($event)">
            </tecvirt-portfolio-list>
          </ion-col>
          <div class="black-area">
            <div class="black-area__content">
              <ion-text color="white">
                <h3>Bem-vindo ao Técnico Virtual na web.</h3>
                <p>Resolva problemas de Oi Fibra, Banda Larga, TV e Fixo direto na web. Não precisa baixar aplicativo nem ligar pro atendimento.
                  <br><br>
                  Você melhora sinal da internet, troca senha do Wi-Fi, resolve problema de telefone mudo, internet lenta e mais.
                  <br><br>
                  Escolha um produto ao lado.
                </p>
              </ion-text>
            </div>
          </div>
          <ion-col *ngIf="!loading" size="12" size-xs="12" size-md="12" size-lg="6" class="ion-no-padding">
            <div #fibraOffer id="fibraOffer">
              <tecvirt-consult-or-share *ngIf="!hasFibra"></tecvirt-consult-or-share>
            </div>
          </ion-col>
          <ion-col class="ion-no-padding safe-bottom-margin" size="12" *ngIf="hasFibra">
            <tecvirt-oi-expert-banner ></tecvirt-oi-expert-banner>
          </ion-col>
          <ion-col size="12" class="pwa-benefits-container">
            <tecvirt-pwa-benefits></tecvirt-pwa-benefits>
          </ion-col>
          <ion-col size="12" class="pwa-benefits-container" *ngIf="!loading">
            <div class="privacy-footer">
              <p [innerHTML]=privacyFooter></p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <tecvirt-desktop-footer [footerLabel]="privacyFooter"></tecvirt-desktop-footer>
  </div>
</ion-content>
<tecvirt-install-pwa-footer></tecvirt-install-pwa-footer>
