<div card-verde>
  <div class="login-centralize">
    <ion-icon class="ion-icon" src="./assets/icon/I204129cone_Login.svg"></ion-icon><h1 class="login-h1">LOGIN</h1>
  </div>
  
<div get-portfolio>
  <div class="login-title-wrapper">
    <h1 class="login--title">{{ page.title }}</h1>
  </div>
  <tecvirt-terms-of-use check-box-modal class="login--terms-of-use" (termsUpdated)="useTermsUpdated($event)"></tecvirt-terms-of-use>
  <tecvirt-input-default
              class="login--inputs"
              (inputChanged)="clearErrors()"
              cypress="input-cpf-or-cnpj-modal"
              [parentFormControl]="cpfOrCnpjFormControl"
              [label]="page.formLabel"
              mask="cpfOrCnpj"
            >
  </tecvirt-input-default>

  <div class="login-buttons-container">
    <tecvirt-button
      class="tecvirt-button"
      color="green"
      [label]="btn.txt"
      (clickEvent)="getPortfolio()"
      *ngFor="let btn of page.buttons"
      [disabled]="isDisabled()"
      [data]="btn"
      [loading]="loadingButton"
    >
    </tecvirt-button>
    <a (click)="skipPortfolio()" class="login-link-skip" *ngIf="!loadingButton" appEventListener [appEventListenerProperty]="skipButton">
        Continuar sem login
    </a>
  </div>
</div>
</div>
