ion-card-content {
    padding: 5px !important;
}
ion-card-subtitle {
  color: var(--ion-color-secondary) !important;
  font-size: 0.7rem;
  font-weight: bold;
}
ion-card[home-card] {
  margin: 2.5% 20px !important;
}
ion-row.card__min-size {
  min-height: 110px;
}
.loading {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.safe-margin-card {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.card-font-size {
  font-size: 15px;
}
.callendar-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.callendar-icon {
    display: block;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 35px;
    background-image: url('../../../../assets/icon/cards-home/agendamento.svg');
}
p[card-agendamento] {
  width: 90%;
  font-size: 1.1em;
}
ion-card[card-agendamento]{
    ion-label{
        display: flex;
        justify-content: space-between;
        color: #227819;
        font-size: .8em;
        padding: 10px;
    }
    .callendar-icon {
        background-size: 90% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 35px;
        background-image: url('../../../../assets/icon/cards-home/agendamento.svg');
    }
    ion-card-subtitle {
      color: var(--ion-color-secondary) !important;
      font-size: 0.7rem;
    }
    .card {
        .date-cell{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            color: #3B3B3B;
            h3{
                margin: 0;
            }
          }
          .box-theme{
            align-content: center;
            padding: 0 15px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .number-day-theme {
              font-size: 2.5em;
            }
            .week-day-theme{
              font-size: .8em;
              color: #9C9C9C
            }
            .small-theme{
              font-size: .7em;
              color: #00C0D2;
            }
            .period-theme{
              font-size: 17px;
              line-height: 0.9;
            }
            .content::after {
              content: '';
              border-right: 1px solid #D8D8D8;
              height: 75%;
              width: 1px;
              display: block;
              position: absolute;
              right: 0;
              top: 12.5%;
            }
          }
    }
}
.inside-card{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  ion-card[card-agendamento] {
    width: 320px;
  }
}
