<tecvirt-header title='{{(product$ | async )?.displayName}}' product="{{(product$ | async )?.displayName}}"></tecvirt-header>
<ion-content color="light">
<div home-page>
  <div main-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xs="12" size-md='12' size-lg='5'>
          <div class="home-problems">
            <tecvirt-home-problems (problemSelected)="destroyTickets()" (viewMoreEvt)="cardDeckView()"></tecvirt-home-problems>
          </div>
          <tecvirt-wildcard-area product="{{(product$ | async )?.displayName}}"></tecvirt-wildcard-area>
        </ion-col>
        <ion-col size="12" size-xs="12" size-md='12' size-lg='5'>
          <div #cardDeck id="cardDeck">
            <tecvirt-card-deck></tecvirt-card-deck>
          </div>
        </ion-col>
      </ion-row>
      <div desktop-unlogged-area-title>VEJA TAMBÉM:</div>
      <tecvirt-unlogged-area></tecvirt-unlogged-area>
      <tecvirt-home-fibra-offer></tecvirt-home-fibra-offer>
      <div class="home-carousel-container">
          <tecvirt-image-carousel [sliders]="getHowToSlides((product$ | async )?.identifier)"></tecvirt-image-carousel>
      </div>
      <div footer class="black-area">
        <tecvirt-home-footer></tecvirt-home-footer>
      </div>
    </ion-grid>
  </div>
  <tecvirt-desktop-footer [footerLabel]="footerLabel"></tecvirt-desktop-footer>
</div>
</ion-content>
<tecvirt-install-pwa-footer></tecvirt-install-pwa-footer>
