<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172228722022-pi51mnfaj4p1fo9nrcsp4uug8p2jeonv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172228722022-pi51mnfaj4p1fo9nrcsp4uug8p2jeonv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172228722022-i9ntej885r56cp7ng967etack3u2d6ha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAT_dFhGxZ7hOcoepPkQq38YBA6LCsnKDw</string>
	<key>GCM_SENDER_ID</key>
	<string>172228722022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.oi.tecnicovirtual</string>
	<key>PROJECT_ID</key>
	<string>oi-brasil</string>
	<key>STORAGE_BUCKET</key>
	<string>oi-brasil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172228722022:ios:c545e03758249e79</string>
	<key>DATABASE_URL</key>
	<string>https://oi-brasil.firebaseio.com</string>
</dict>
</plist>