<ion-card home-card class="card" color="white" [button]="card.isClickable" [hidden]="shouldBeHidden()"
  (click)="disableButton() ? $event.stopPropagation() : onClick();
disableButton() ? false : null">
  <ion-card-content>
    <ion-grid *ngIf="!loading">
      <ion-row class="card__min-size">
        <ion-col size="9">
          <ion-row>
            <ion-col>
              <ion-card-subtitle card-title>{{title | uppercase}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p card-agendamento [class.isDisabled]="disableButton()">{{label}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <div class="right-content">
            <span class="icon-{{icon}}"></span>
          </div>
        </ion-col>
        <ion-col *ngIf="showLabel()" size="9">
          <div class="small-text" [innerHTML]="labelText" (click)="presentModal()"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="loading" *ngIf="loading">
      <tecvirt-loading small="true" color="primary" label="Carregando"></tecvirt-loading>
    </div>
  </ion-card-content>
</ion-card>
