<div password-input>
    <ion-text color="danger"><p>{{error}}</p></ion-text>
    <tecvirt-input-default label='Nova senha' [parentFormControl]="passwordFormControl" [type]="!showPassword ? 'password' : 'text'" (inputChanged)=setPassword($event)></tecvirt-input-default> 
    <div safe-margin></div>
    <tecvirt-input-default [parentFormControl]="rePasswordFormControl" label='Repetir senha' [type]="!showPassword ? 'password' : 'text'"(inputChanged)=setRePassword($event)></tecvirt-input-default>
    <ion-item checkbox-item lines='none' color="light" mode="ios" class="ion-no-padding">
      <ion-checkbox id="checkbox-mostrar-senha" [(ngModel)]="showPassword"></ion-checkbox>
      <ion-label color="dark" stacked="" id="label-trocar-senha-confirma" class="padding-left">Mostrar</ion-label>
    </ion-item>
    <tecvirt-button size='large' color='white' label='Trocar senha' (clickEvent)='changePassword($event)'></tecvirt-button>
</div>