.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container-box {
    height: 85%;
  }
  .container-close {
    color: white;
    text-align: end;
    ion-icon {
      font-size: 20px;
      padding: 5px;
      border: 1px solid var(--ion-color-dark-variation);
      border-radius: 50%;
      background: var(--ion-color-dark-variation);
    }
  }
}
@media(min-width:600px) {
  .dummy{
    height: 20px !important;
  }
}

