<tecvirt-header [title]="page.topImage ? 'FALHA RESOLVIDA' : 'reiniciar sinal'" hiddenBack='true'
  (closeButtonEvt)='goToHome()'></tecvirt-header>
<ion-content diagnostic-blocks color="light">
  <div *ngIf="page.topImage">
    <div class="header-block-brand"></div>
    <span *ngIf="blockIcon" class="icon-{{blockIcon}}"></span>
  </div>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <!-- CHECK STATUS TEMPLATE -->
      <ion-col size="12" size-xs="10" size-md="10" size-lg="4" offset-lg="4" offset-xs="1" *ngIf="isStandardStep">
        <h1 [innerHTML]="page.titulo" diag-block-title></h1>
        <p [innerHTML]="page.descricao" diag-block-paragraph></p>
        <div class="button-container">
          <tecvirt-button (clickEvent)="buttonClicked(item)" outline="true" size="large" [data]="item"
            *ngFor="let item of page.botoes || []" diag-block-button>
            {{item.texto}}
          </tecvirt-button>
        </div>
      </ion-col>
      <!-- RESET DSL TEMPLATE -->
      <ion-col size="12" size-xs="10" size-md="10" size-lg="4" offset-lg="4" offset-xs="1" *ngIf="isResetDslStep">
        <tecvirt-automatic-steps [countdown]="countdown" [page]="page"></tecvirt-automatic-steps>
      </ion-col>
      <!-- CONCLUSION TEMPLATE -->
      <ion-col size="12" size-xs="10" size-md="10" size-lg="4" offset-lg="4" offset-xs="1" *ngIf="isConclusionStep">
        <tecvirt-conclusion-steps [page]="page"
          [productIdentifier]="(product$ | async ) ? (product$ | async )?.identifier : ''"
          (buttonClicked)="buttonClicked($event)"></tecvirt-conclusion-steps>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>